<h1>Search Page</h1>


<%= form_tag(searchByName_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "Search By Name" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>


 <%= form_tag(searchByIngredients_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "Search By Ingredients" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

 <%= form_tag(searchWinePairing_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "Search Wine Pairing" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(searchVideo_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "Search Videos" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(convertUnits_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "Search unit, ingredient name, target unit" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(searchCalories_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "number of cals, per time" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(searchRecipeId_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "enter any recipe id" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(getFoodTrivia_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "click search" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(searchQuickAnswer_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "enter question here" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag(searchNutritionInfo_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :searchTerm, params[:searchTerm], placeholder: "enter dish name" %>
      <%= submit_tag "Search", :name => nil %>
<% end %>
