
  <%= simple_form_for @recipe do |f| %>
  <div class="container register-form">
    <div class="form">
        <div class="note">
            <h1>Enter Your Recipe Here!</h1>
        </div>

  <div class="form-content">
    <div class="row">

  <div class="col-md-12">

  <div class="form-group">
    <%= f.input :name, placeholder: "Recipe Name", class: "form-control" %>
    <%= f.input :ingredients, placeholder: "Enter Ingredients", class: "form-control" %>
    <%= f.input :directions, placeholder: "Directions", class: "form-control" %>
    <br />
    <%= f.submit 'Create', class:"btnSubmit" %>
  <% end %>
</div
