<h1> Results here! </h1>
<div>
   <% @results[:pairedWines].each { |wine| %>
    <%=  wine %>
    <% }%>
    <%=  @results[:pairingText] %>
    <% @results[:productMatches].each { |product| %>
       <%= product[:title] %>
      <%=  product[:description] %>
      <%=  product[:price] %>
      <%=  product[:imageUrl] %>
    <% } %>

</div><br />
